/* Global Styles */
body {
    background-color: #f8f8f8;
}
.ajax-modal {
    color: #222;
    text-align: center;
    display: none;
    padding: 7px;
    background: #f9edbe;
    border-radius: 2px;
    position: relative; 
    margin: 3% auto auto auto; 
    z-index: 9999;
    min-width: 50px;
    max-width: 200px;
    width: auto;
    font-size: 11px;
    border: solid 1px #f0c36d;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* Wrappers */

/* ------------------------------- */

 #wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 1300px;
        border-left: 1px solid #e7e7e7;
    }
}
.navbar-static-side ul li {
    border-bottom: 1px solid #e7e7e7;
}
.navbar-ent {
    border: 0px; 
    margin-bottom: 0; 
    background: url('../images/logo/header-log.png') no-repeat left center #ededed;
    border-bottom: 1px solid #2276b7;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.slimscroll {
    background: #f8f8f8;
}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */

 .navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */

 .sidebar-search {
    padding: 15px;
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

li.parent {
    background-color: #157fcc;
    color: #FFF;
    font-weight: bold;
    margin-bottom: -1px;
}
li.parent a:hover {
    background-color: #157fcc;
}
li.parent a:focus {
    background-color: #157fcc;
}
.parent a {
    border-bottom: 1px solid #2276b7;
    color: #FFF;
    font-weight: bold;
}
.nav-second-level li a {
    padding-left: 37px;
    border: none;
}
.nav-second-level li a:hover {
    background-color: #add2ed;
    border: none;
}
.nav-second-level li a:focus {
    background-color: #add2ed;
}
.nav-third-level li a {
    padding-left: 52px;
}
.nav li.child {
    background-image: url('../images/ext/elbow.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: #f8f8f8;
    color: #464646;
    border: none;
}
.nav li.child:last-child {
    background-image: url('../images/ext/elbow-end.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: #f8f8f8;
    color: #464646;
    border: none;
}
nav li.child a {
    padding-top: 4px;
    padding-bottom: 3px;
}
.nav li.child a:hover {
    background-image: url('../images/ext/elbow.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: #add2ed;
    color: #464646;
    border: none;
}
.nav li.child:last-child:hover {
    background-image: url('../images/ext/elbow-end.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: #f8f8f8;
    color: #464646;
    border: none;
}
.child {
    background-color: #f8f8f8;
    color: #464646;
    border: none;
}
.child a {
    color: #464646;
    font-weight: normal;
}
.beranda {
    background: none;
}
.navbar-static-side {
    background: #ededed;
    position: fixed; 
    top: 50px; 
    bottom: 0px; 
    cursor: pointer;
    padding: 0px;
}
.content {
    margin-top: 50px;
    background: transparent;
    float: right;
}
@media(max-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
    }
    .padding-50{
        margin-top: 70px;
    }
    .navbar-static-side.col-lg-2 , .navbar-static-side.col-sm-3 , .content.col-sm-9 , .content.col-lg-9{
        width: 100%;
        border-right: none;
    }
    .slimscroll {
        background: transparent;
    }
    .slimscroll ul{
        height: auto;
        background-color: #fff;

    }
    .navbar-static-side {
        background: none;
        position: fixed; 
        top: 50px; 
        bottom: 0px; 
        padding: 0px 0px 0px 0px;
    }
    .nav.navbar-top-links.navbar-right {
        display: none;
    }
    
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}
/* Login Page */

 .login-panel {
    margin-top: 25%;
}

/* Flot Chart Containers */

 .flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* edit sendiri*/
.dropdown-toggle{
    color: #fff;
}
.dropdown-toggle:hover{
    color: #000;
    background-color: #fff;
}

.bg-white{
    background-color: #fff;
}
.ent-pp {
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    overflow: hidden;
    position: relative;
    margin-right: 5px;
    margin-top: -3px;
    border: solid 1px #2879b7;
    line-height: 50px;
    border-radius: 2px;
}
.ent-pp-large {
    min-width: 64px;
    max-width: 64px;
    overflow: hidden;
    position: relative;
    margin-right: 5px;
    margin-top: -3px;
    margin: 0px 0px 0 20px;
}
.ent-label {
    float: right;
    text-align: left;
    margin-right: 0px;
}

.bg-brown{
    background-color: #f4f5f7;
    font-size: 12px;
}
/*
 * STYLE TABLE
 */

.stdtable { width: 100%; }
.stdtable .con0 { background: #fff; }
.stdtable .con1 { background: #fcfcfc; }
.stdtable th, .stdtable td { line-height: 24px; vertical-align: middle; color: #333; }
.stdtable thead th, .stdtable thead td { 
	padding: 8px; border: 1px solid #ddd; border-left: 0; 
}
.stdtable tfoot th, .stdtable tfoot td { padding: 7px; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; text-align: left; }
.stdtable thead th:first-child, .stdtable tfoot th:first-child,
.stdtable thead td:first-child, .stdtable tfoot td:first-child { border-left: 1px solid #ddd; }
.stdtable thead th.head0, .stdtable tfoot th.head0, .stdtable thead td.head0, .stdtable tfoot td.head0 { background-color: #fcfcfc; }
.stdtable thead th.head1, .stdtable tfoot th.head1, .stdtable thead td.head1, .stdtable tfoot td.head1 { background-color: #f7f7f7; }
.stdtable thead th.sorting, .stdtable thead td.sorting { 
	background-image: url(../images/tables/sort_both.png); background-repeat: no-repeat; background-position: right center; }
.stdtable thead th.sorting_asc, .stdtable thead td.sorting_asc { 
	background-image: url(../images/tables/sort_asc.png); background-repeat: no-repeat; background-position: right 9px; }
.stdtable thead th.sorting_desc, .stdtable thead td.sorting_desc  { 
	background-image: url(../images/tables/sort_desc.png); background-repeat: no-repeat; background-position: right 9px; }
.stdtable thead th.nosort { background-image: none !important; }
.stdtable thead td { font-weight: bold; }
.stdtable thead td.center { text-align: center; }
.stdtable tbody tr td { padding: 8px ; border-right: 1px solid #eee; border-bottom: 1px solid #eee; color: #666; }
.stdtable tbody tr:last-child td { border-bottom: 1px solid #ddd; }
.stdtable tbody tr td:first-child { border-left: 1px solid #ddd; }
.stdtable tbody tr td:last-child { border-right: 1px solid #ddd; }
.stdtable tbody tr.togglerow td { background: #fff; padding: 15px; }
.stdtable tbody tr.togglerow:hover td { background: #fff; }
.stdtable tbody tr.hiderow { display: none; }
.stdtable .actions { text-align: center; }
.stdtable .actions a { display: inline-block; margin-left: 5px; border-left: 1px solid #ccc; padding-left: 5px; }
.stdtable .actions a:first-child { border-left: 0; margin-left: 0; }
.stdtable .actions a:hover { color: #FB9337; }
.stdtable a.title { font-weight: bold; color: #32415a; }
.stdtable a.title:hover { color: #fb9337; }

.tableoptions { 
	background: #fcfcfc; border: 1px solid #ddd; border-bottom: 0; padding: 8px; 
	-moz-border-radius: 0 1px 0 #fff; -webkit-border-radius: 0 1px 0 #fff; border-radius: 0 1px 0 #fff;
}
.tableoptions button { 
	background: #fcfcfc; font-size: 11px; color: #666; padding: 7px 10px; border: 1px solid #ccc; margin: 0; outline: none;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
}
.tableoptions button:hover { background: #eee; cursor: pointer; }
.tableoptions select { 
	background: #fff; padding: 6px 5px 7px 5px; border: 1px solid #ccc; margin: 0; outline: none; font-size: 11px; color: #666;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
}

.dataTables_wrapper { position: relative; }
.dataTables_length { background: #fcfcfc; border: 1px solid #ddd; border-bottom: 0; padding: 8px; }
.dataTables_paginate { background: #fcfcfc; border: 1px solid #ddd; border-top: 0; padding: 8px; }
.dataTables_length, .dataTables_paginate { -moz-box-shadow: inset 0 1px 0 #fff; -webkit-box-shadow: inset 0 1px 0 #fff; box-shadow: inset 0 1px 0 #fff; }
.dataTables_wrapper select { 
	background: #fff; padding: 5px; border: 1px solid #bbb; margin: 0; outline: none; font-size: 11px; color: #666;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; margin: 0 5px;
}
.dataTables_wrapper input { border: 1px solid #ddd; padding: 7px 5px 8px 5px; background: #fff; }
.dataTables_filter { position: absolute; top: 7px; right: 8px; }
.dataTables_info { position: absolute; bottom: 13px; left: 8px; }
.dataTables_paginate { text-align: right; line-height: 16px; }
.dataTables_paginate span { display: inline-block; }
.dataTables_paginate .paginate_button { 
	border: 1px solid #ccc; padding: 5px 7px; margin-left: 5px; font-weight: bold; background: #fcfcfc; 
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;  font-size: 11px;
	-moz-box-shadow: 1px 1px 2px #ddd; -webkit-box-shadow: 1px 1px 2px #ddd; box-shadow: 1px 1px 2px #ddd; 
}
.dataTables_paginate .paginate_active { 
	border: 1px solid #F0882C; background: #F0882C;  color: #fff; padding: 5px 7px; margin-left: 5px; font-weight: bold; 
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; font-size: 11px;
}
.dataTables_paginate .paginate_button:hover { background: #ddd; border: 1px solid #ccc; cursor: pointer; color: #333; }
.dataTables_processing {
    color: #222;
    text-align: center;
    display: none;
    padding: 7px;
    background: #f9edbe;
    border-radius: 2px;
    position: relative; 
    margin: 3% auto auto auto; 
    z-index: 9999;
    min-width: 50px;
    max-width: 200px;
    width: auto;
    font-size: 11px;
    border: solid 1px #f0c36d;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.paginate_enabled_previous {
    padding: 15px;
    cursor: pointer;
}
.paginate_enabled_next {
    padding: 15px;
    cursor: pointer;
}

.paginate_disabled_previous {
    cursor: pointer;
}
.paginate_disabled_next {
    cursor: pointer;
}
.dataTables_paginate.paging_two_button {
    padding: 15px 10px 15px 15px;
    margin-right: 1px;
}

.small{
    font-size: 11px;
}

.tree-master {
    background: url('../images/ext/elbow.png') no-repeat left center;
    width: auto;
    height: 24px;
    padding-left: 30px;
}

.head0 {
    background-color: #fcfcfc;
}

.head1 {
    background-color: #f7f7f7;
}