::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:-moz-placeholder {
  color: #879fa6 !important;
}

::-webkit-input-placeholder {
  color: #879fa6;
}

:-ms-input-placeholder {
  color: #879fa6 !important;
}

body {
  font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
  color: #404040;
  background: #F7F7F7;
}

.select {
  width: auto;
  max-width: 300px;
  display: block;
  position: relative;
  overflow: hidden;
  background: white;
  border: 1px solid #d2e2e7;
  border-bottom-color: #c5d4d9;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #fcfdff, #f2f7f7);
  background-image: -moz-linear-gradient(top, #fcfdff, #f2f7f7);
  background-image: -o-linear-gradient(top, #fcfdff, #f2f7f7);
  background-image: linear-gradient(to bottom, #fcfdff, #f2f7f7);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}

.select:before, .select:after {
  content: '';
  position: absolute;
  right: 11px;
  width: 0;
  height: 0;
  border-left: 3px outset transparent;
  border-right: 3px outset transparent;
}

.select:before {
  top: 10px;
  border-bottom: 3px solid #7f9298;
}

.select:after {
  top: 16px;
  border-top: 3px solid #7f9298;
}

.select > select {
  overflow:hidden;
  width:120%;
  z-index: 2;
  height: 29px;
  line-height: 17px;
  padding: 5px 9px;
  padding-right: 20px;
  color: #80989f;
  background: transparent;
  background: rgba(0, 0, 0, 0);
  border: 0;
  -webkit-appearance: none;
}

.select > select:focus {
  color: #4d5a5e;
  outline: 0;
}
